app-ws-element-view {
    .ws-element-view-group {
        &.ng-enter {
            transition: all 1s linear;
            opacity: 0;

            &.ng-enter-active {
                opacity: 1;
            }
        }
    }

    .ws-element-view-user {
        &.ng-enter {
            transition: all 1s linear;
            opacity: 0;

            &.ng-enter-active {
                opacity: 1;
            }
        }
    }
}
