<!--<app-ws-item-annotation></app-ws-item-annotation>-->
<app-ws-entry-basic ng-if="$ctrl.elementType === 1" params="$ctrl.params"></app-ws-entry-basic>
<app-ws-entry-chat ng-if="$ctrl.elementType === 2" params="$ctrl.params"></app-ws-entry-chat>
<app-ws-entry-discussion ng-if="$ctrl.elementType === 3" params="$ctrl.params"></app-ws-entry-discussion>
<app-ws-entry-selection ng-if="$ctrl.elementType === 4" params="$ctrl.params"></app-ws-entry-selection>
<app-ws-entry-rubric ng-if="$ctrl.elementType === 5" params="$ctrl.params"></app-ws-entry-rubric>
<!--<app-ws-item-comment></app-ws-item-comment>-->