<videogular ng-class="{'touch-device': $ctrl.isTouchDevice(), 'cannot-play': !$ctrl.plays()}"
            ng-click="$ctrl.videogular.isFullScreen && $event.stopPropagation()"
            vg-theme="$ctrl.theme" vg-plays-inline="true" vg-player-ready="$ctrl.videogular = $API" vg-play="$ctrl.play()" vg-customize>
    <vg-media vg-src="$ctrl.sources" vg-preload="'none'"></vg-media>
    <vg-poster vg-url="$ctrl.thumbUrl"></vg-poster>

    <vg-controls vg-autohide="true" ng-click="$event.stopPropagation()">
        <vg-play-pause-button></vg-play-pause-button>

        <vg-time-display ng-if="!$ctrl.isMiniLayout()">{{currentTime|date:"mm:ss":"+0000"}}&nbsp;/&nbsp;{{(totalTime || 0)|date:"mm:ss":"+0000"}}</vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>

        <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
        </vg-volume>

        <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>
</videogular>
