<md-grid-list md-cols="{{$ctrl.gridCols}}" md-row-height="8:3" md-gutter="2px" style="margin-top:0.5em">
    <div ng-repeat="entry in entries" ng-if="entry.wsEntryTypeId !== 1">

    </div>
    <md-grid-tile class="image" md-colspan="2" md-rowspan="3" style="background-image: url(../uploaded/24612102723338260.jpg);"></md-grid-tile>
    <md-grid-tile class="image" md-colspan="2" md-rowspan="3" style="background-image: url(../uploaded/24612102723338260.jpg);"></md-grid-tile>
    <!--<md-grid-tile md-colspan="2" md-rowspan="1" style="background: #b9f6ca;">
        <md-icon class="md-display-1">description</md-icon>
        <md-grid-tile-footer>
            <p>プレゼンテーション.pptx</p>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="image" md-colspan="2" md-rowspan="3" style="background-image: url(../uploaded/24612102723338261.jpg);"></md-grid-tile>
    <md-grid-tile class="image" md-colspan="2" md-rowspan="7" style="background-image: url(../uploaded/24612102723338262.jpg);"></md-grid-tile>
    <md-grid-tile class="image" md-colspan="1" md-rowspan="3" style="background-image: url(../uploaded/24612102723338263.jpg);"></md-grid-tile>-->
    <!--<md-grid-tile class="image" md-colspan="1" md-rowspan="2" style="background: white;">
        <div style="background: lightgray;border-radius: 10px; border: 4px solid white" class="width100 height100" layout="row" layout-align="center center">
            <md-icon style="font-size: 60px; height:60px; width:60px">photo_camera</md-icon>
        </div>
    </md-grid-tile>-->

</md-grid-list>