<md-card class="width100">
    <md-card-title md-colors="{background: 'primary'}">
        <span class="md-title">個人情報設定</span>
    </md-card-title>
    <md-card-content layout="row" layout-padding>
        <div flex="none">
            <div class="user-image-settings md-media-xl">
                <app-avatar user-id="$ctrl.user.id" class="nomargin"></app-avatar>
                <md-button class="md-fab" md-colors="{'background-color': 'background-400'}">
                    <md-icon md-colors="{'color': 'background-900'}">photo_camera</md-icon>
                </md-button>
            </div>
        </div>
        <div flex="grow">
            <div layout="row">
                <md-input-container flex="grow">
                    <label>名前</label>
                    <input name="name" ng-model="$ctrl.dummyUser.name">
                </md-input-container>
                <div><md-button md-colors="{background: 'primary'}">変更</md-button></div>
            </div>
            <div layout="row">
                <md-input-container flex="grow">
                    <label>パスワード</label>
                    <input name="password" type="password" ng-model="$ctrl.dummyUser.password">
                </md-input-container>
                <div><md-button md-colors="{background: 'primary'}">変更</md-button></div>
            </div>
            <div layout="row">
                <md-input-container flex="grow">
                    <label>メールアドレス</label>
                    <input name="mail" ng-model="$ctrl.dummyUser.mail">
                </md-input-container>
                <div><md-button md-colors="{background: 'primary'}">変更</md-button></div>
            </div>
            <div layout="row">
                <md-input-container flex="grow">
                    <label>カラー</label>
                    <md-select ng-model="$ctrl.dummyUser.color">
                        <md-option ng-repeat="c in $ctrl.colors" ng-value="c">{{c}}</md-option>
                    </md-select>
                </md-input-container>
                <div><md-button md-colors="{background: 'primary'}">変更</md-button></div>
            </div>
        </div>
    </md-card-content>
</md-card>
