<md-content class="md-padding" layout="row" layout-wrap>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class="md-subhead">白紙のテンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class="md-subhead">白紙のテンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
    <md-card class="template-md-card">
        <img ng-src="../images/avatars/22.jpg" class="md-card-image template-thumbnail">
        <md-card-title>
            <md-card-title-text>
                <span class=".md-subhead">〇〇用テンプレート</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                text text text text
            </p>
        </md-card-content>
    </md-card>
</md-content>
