<md-toolbar>
	<div class="md-toolbar-tools">
		<h1>まなびシート</h1>
	</div>
</md-toolbar>

<md-content layout="column" layout-align="start center">
	<br />

	<md-card class="width100" style="max-width: 400px" flex="none">
		<md-progress-linear md-mode="indeterminate" ng-disabled="!$ctrl.loginButtonIsDisabled"></md-progress-linear>
		<v-accordion class="v-accordion-arrow">
			<v-pane expanded="true">
				<form name="loginForm" novalidate>
					<v-pane-header md-ink-ripple="true">
						<md-card-title md-colors="{background: 'primary'}">
							<span class="md-title">生徒ログイン</span>
						</md-card-title>
					</v-pane-header>
					<v-pane-content>
						<md-card-content layout="column">
							<md-input-container>
								<label>ユーザー名</label>
								<input name="username" ng-model="$ctrl.username" type="string" required ng-maxlength="64">
							</md-input-container>
							<md-input-container>
								<label>パスワード</label>
								<input name="password" ng-model="$ctrl.password" type="password" required ng-maxlength="64">
							</md-input-container>
						</md-card-content>
						<md-card-actions layout="row">
							<md-button flex="100" class="md-raised md-primary" ng-click="$ctrl.onLoginClick('auth.wslist')" ng-disabled="$ctrl.loginButtonIsDisabled || loginForm.$invalid">ログイン</md-button>
						</md-card-actions>
						<br />
					</v-pane-content>
				</form>
			</v-pane>
			<!--
			<v-pane expanded="exp">
				<v-pane-header md-ink-ripple="true">
					<md-card-title>
						<span>パスワードを忘れたときは</span>
					</md-card-title>
				</v-pane-header>
				<v-pane-content>
					<md-card-content layout="column">
						<p>パスワードを忘れたときは、ユーザー名を入力してメール送信ボタンを押して下さい。登録されているメールアドレスにパスワードをリセットする手順が送信されますので、それに従ってパスワードをリセットして下さい。</p>
						<md-input-container>
							<label>ユーザー名</label>
							<input name="username-reminder" ng-model="$ctrl.username" type="string" required ng-maxlength="64">
						</md-input-container>
					</md-card-content>
					<md-card-actions layout="row">
						<md-button flex="100" class="md-raised md-primary" ng-click="$ctrl.onLoginClick()" ng-disabled="$ctrl.loginButtonIsDisabled || loginForm.$invalid">メール送信</md-button>
					</md-card-actions>
					<br />
				</v-pane-content>
			</v-pane>
			-->
		</v-accordion>

	</md-card>

</md-content>